html, body{
    padding:0;
    margin:0;
    font-family: 'Raleway', sans-serif;
    font-weight: 400, 700;
    background-repeat: no-repeat;
}
#app{
    width:100%;
    height:100%;
    position:absolute;
    top:0;left:0;
}
#titlecard{
    margin: 30% 5% 10% 5%;
    padding: 10% 5%;
    background-color:hsl(228, 56%, 26%);
    border-radius: 10px;
    border-top-right-radius: 100px;
}
#icons{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-content: center;
    margin-top: 5%;
    width:50%;
}
.icon{
    padding: 7% 7% 4% 7%;
    border-radius: 25%;
    margin: 1%;
    background-color: hsl(229, 57%, 11%);
}
#usage{
    width: 85%;
    border-radius: 10px;
    margin: auto;
    background-color:hsl(228, 56%, 26%);
    padding: 7%;
    text-align: center;
    z-index: -1;
}
#whatyouveused{
    width:80%;
    margin: auto;
    color: hsl(229, 7%, 55%);
}
#usedAmnt{
    color: hsl(243, 100%, 93%);
}

#progress-bar{
    border: solid 2px white;
    margin: 5% 0 1% 0;
    border-radius: 25px;
}
#progress{
    height:20px;
    width:81%;
    background: linear-gradient(0.25turn,hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius: 25px;
    display:flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}
#bobble{
    align-self: center;
    height: 85%;
    width: 17px;
    border-radius: 25px;
    margin: 0 2px 0 2px;
    background-color: white;
}

#range{
    display: flex;
    justify-content: flex-end;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top:2%;
    color: hsl(243, 100%, 93%);
}
#remaining{
    position: relative;
    top:3em; left: 3em;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width:70%;
    background-color: white;
    color:black;
    text-align: center;
    padding: 5% 10%;
    border-radius: 25px;
}
#specificAmntRemaining{
    font-size: 18pt;
}
#mobBg{
    position: relative;
    height:100%;
    z-index: -1;
}
#deskBg{
    display:none;
}


@media only screen and (min-width: 376px){
    #mobBg{
        display:none;
    }
    #deskBg{
        display:block;
        position: absolute;
        width:100%;
        bottom:0;left:0;
        
        z-index: 0;
    }
    html, body{
        height: 100%;
        width:100vw;
        background-color: #0C122C;
        z-index: -1;
    }
    #app{
        width: 75%;
        height:auto;
        margin: auto;
        display:flex;
        position: absolute;
        top:25%;left: 15%;
    }

    #titlecard{
        margin: 0 5% 0 0 ;
        padding: 3%;
        border-radius: 10px;
        border-top-right-radius: 100px;
        width: 70%;
        height: 100%;
    }
    #usage{
        width: 100%;
        border-radius: 10px;
        height: 150px;
        margin: 0;
        padding: 2%;
        text-align: center;
        z-index: 1;
        align-self:flex-end;
    }
    #whatyouveused{
        width: 100%;
        color: hsl(229, 7%, 55%);
    }
    #remaining{
        position: relative;
        top: 10px;
        display:flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        width:25%;
        background-color: white;
        color:black;
        text-align: center;
        padding: 2% 2%;
        border-radius: 25px;
    }
    .icon{
        width:100%;
        padding: 10%;
        border-radius: 25%;
        margin: 1%;
        background-color: hsl(229, 57%, 11%);
    }
    .icon:hover{
        background-color: orchid;
    }
    #progress-bar{
        border: solid 2px white;
        margin: 1% 0 1% 0;
        border-radius: 25px;
    }
    #range{
        margin-top: 0;
    }
    #whatyouveused{
        text-align: left;
    }

}